<div class="ui inverted menu">
	<div class="header item">
		Your Company Name Here
	</div>
	<a href="#" class="item">Some Feature</a>
	<a href="#" class="item">Some Other Feature</a>
	<div class="right item">
		<span class="menu item">Welcome back, User!</span>
		<a href="#" class="menu item">Logout</a>
	</div>
</div>
